<div class="header">
  <h4 class="header-title">Location</h4>
  <div class="mt-2">
    <input id="location" class="location-input" #locationName (keyup)="searchLocation(locationName.value);"/>
  </div>

  <ul *ngIf="locations.length != 0;" class="locations-list">
    <li *ngFor="let location of locations" (click)="selectLocation(location)">
      <a>
        <div class="badge">{{this.loc(this.location)}}</div>
        <div class="badge">Latitude: {{location.lat | number: '1.1-1'}}, Longitude: {{location.lon | number: '1.1-1'}}</div>
      </a>
    </li>
  </ul>
</div>
